body {
  
  background-color: black;
  padding: 16px;
  
}

h1.title, h2.title {
  
  text-align: center;
  
  font-size: 48px;
  color: #7CFC00;
  
}

div.information {
  color: white;
}

li {
  color: white;
}
